body{
   width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: #121212; 
    min-height: 100vh;
    padding: 0;
    overflow-x: hidden;
    font-size: 16px;
    color: #cfcfcf;
}



header {
    
    position: sticky;
    top: 0;
    background-color: #121212c4;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 100px 0; 
    
} 


.content_wrapper{
    gap: 10px;
    min-width: 600px;
    max-width: 1168px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #121212;

}

a{
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    border-radius: 10px;
}


a:hover{
    background-color: #313131;
}

.A_head:hover{
    background-color: transparent;
    
}
h3{
    color: #11FF00;
}

.page_top{
     height: auto;
     display: flex;
     justify-content: center;
     padding-top:30px;
     margin: 20px 0px 20px 0px;
}

img{
    width: 70%;
    height: 50%;
    border-radius: 10px;
}

.about-info{
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    
}

.about-info .project_about{
    min-width: 240px;
    max-width: 320px;
    padding: 30px 30px 30px 30px;
    margin: 10px 10px ;
    box-shadow: 0px 0px 10px 1px #179520;
    border-radius: 5px;
    width: 100%;
}

@media (min-width:800px){
    .project_about{
        height: 285px;
    }
}

.about-info .project_info{
    min-width: 240px;
    max-width: 320px;
    padding: 30px;
    margin: 10px 10px ;  
    box-shadow: 0px 0px 10px 1px #179520; 
    border-radius: 5px;
    width: 100%;
}

@media (min-width:800px){
    .project_info{
        height: 285px;
    }
}

.blog p{
    font-size: 1.4rem;
    text-align: justify;

}

.Game-img{
     height: auto;
     display: flex;    
     justify-content: center;
     padding: 20px;

}

.img-container{
    align-items: center;
}

.blog h3{
    font-size: 32px;
    font-style: italic;
}
.game_mechanics{
    margin: 40px;
}

.whats_learned{
    margin: 40px;
}

footer{
   
    background: #121212;
    margin: 0;
    padding:20px;
    text-align: center;
}


/* Mobile Device */
@media (max-width:700px){
    footer, .Contact{
        font-size: 16px;
    }


    a{
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    border-radius: 10px;
    }

    .header_list{
        display: flex;
        justify-content: center;
        padding:10px;
    }

    header{
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
    }

    body{
        font-size: 24px;
    }

    .blog h3{
        text-align: center;
    }
}